/*
Time waste API

Returns actions that you can possibly do, but did not

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type ApiActivitiesMillisecondsGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	milliseconds int32
}

func (r ApiActivitiesMillisecondsGetRequest) Execute() ([]Activity, *http.Response, error) {
	return r.ApiService.ActivitiesMillisecondsGetExecute(r)
}

/*
ActivitiesMillisecondsGet Получение всех активностей, которые можно было бы сделать за присланное время

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param milliseconds Потраченное время в миллисекундах
 @return ApiActivitiesMillisecondsGetRequest
*/
func (a *DefaultAPIService) ActivitiesMillisecondsGet(ctx context.Context, milliseconds int32) ApiActivitiesMillisecondsGetRequest {
	return ApiActivitiesMillisecondsGetRequest{
		ApiService: a,
		ctx: ctx,
		milliseconds: milliseconds,
	}
}

// Execute executes the request
//  @return []Activity
func (a *DefaultAPIService) ActivitiesMillisecondsGetExecute(r ApiActivitiesMillisecondsGetRequest) ([]Activity, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Activity
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ActivitiesMillisecondsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/activities/{milliseconds}"
	localVarPath = strings.Replace(localVarPath, "{"+"milliseconds"+"}", url.PathEscape(parameterValueToString(r.milliseconds, "milliseconds")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiActivityMillisecondsGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	milliseconds int32
	sex *string
}

// Пол клиента чтобы понимать как склонять слова в ответе
func (r ApiActivityMillisecondsGetRequest) Sex(sex string) ApiActivityMillisecondsGetRequest {
	r.sex = &sex
	return r
}

func (r ApiActivityMillisecondsGetRequest) Execute() (*Activity, *http.Response, error) {
	return r.ApiService.ActivityMillisecondsGetExecute(r)
}

/*
ActivityMillisecondsGet Получение случайной активности, которую можно успеть сделать за присланное время

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param milliseconds Присланное время в миллисекундах
 @return ApiActivityMillisecondsGetRequest
*/
func (a *DefaultAPIService) ActivityMillisecondsGet(ctx context.Context, milliseconds int32) ApiActivityMillisecondsGetRequest {
	return ApiActivityMillisecondsGetRequest{
		ApiService: a,
		ctx: ctx,
		milliseconds: milliseconds,
	}
}

// Execute executes the request
//  @return Activity
func (a *DefaultAPIService) ActivityMillisecondsGetExecute(r ApiActivityMillisecondsGetRequest) (*Activity, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Activity
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ActivityMillisecondsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/activity/{milliseconds}"
	localVarPath = strings.Replace(localVarPath, "{"+"milliseconds"+"}", url.PathEscape(parameterValueToString(r.milliseconds, "milliseconds")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sex", r.sex, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
