openapi: 3.0.3
info:
  description: "Returns actions that you can possibly do, but did not"
  title: Time waste API
  version: 1.0.0
servers:
- description: "Local Server Raspberry Pi 5 [Batya]"
  url: https://192.168.x.x/v1
- description: "Local Server Raspberry Pi 5 [Pizduc]"
  url: http://192.168.x.x/v1
paths:
  /activity/{milliseconds}:
    get:
      parameters:
      - description: Присланное время в миллисекундах
        explode: false
        in: path
        name: milliseconds
        required: true
        schema:
          type: integer
        style: simple
      - description: Пол клиента чтобы понимать как склонять слова в ответе
        explode: true
        in: query
        name: sex
        required: false
        schema:
          enum:
          - male
          - female
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: One activity
        "400":
          description: Invalid time
        "404":
          description: Activity not found
        default:
          description: Unexpected error
      summary: "Получение случайной активности, которую можно успеть сделать за пр\
        исланное время"
  /activities/{milliseconds}:
    get:
      parameters:
      - description: Потраченное время в миллисекундах
        explode: false
        in: path
        name: milliseconds
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Activity'
                type: array
          description: Коллекция активностей (Successful operation)
        "400":
          description: Invalid time
        default:
          description: Unexpected error
      summary: "Получение всех активностей, которые можно было бы сделать за присл\
        анное время"
components:
  schemas:
    Activity:
      example:
        duration: 6
        name: name
        description: description
        id: 0
      properties:
        id:
          description: The unique id
          type: integer
        name:
          description: The name of the activity
          type: string
        description:
          description: Description
          type: string
        duration:
          description: The duration
          type: integer
      required:
      - description
      - id
      - name
      type: object
